{% extends "layout.html" %}
{% block content %}

<!-- PC -->
<div class="uk-position-medium uk-position-top-left uk-margin-auto-top uk-child-width-auto uk-visible@s">
    <div class="userID uk-card uk-card-body uk-card-secondary">
        <div class="uk-card-title uk-text-bold uk-text-emphasis">

            {{current_userID}} <a href="{{ url_for('auth.delete_user') }}"><span uk-icon="icon: close"></span></a>
        </div>
    </div>
</div>



<div class="uk-position-center">
    <!-- スマホ -->
    <div class="uk-position-top-left uk-text-left uk-child-width-auto uk-hidden@s">
        <div class="userID uk-card uk-card-body uk-card-secondary">
            <div class="uk-text-small uk-card-title uk-text-bold uk-text-emphasis">
                {{current_userID}}
            </div>
        </div>
    </div>
    <div>
        <h3 class="uk-text-secondary uk-text-center uk-visible@s">作成した問題リスト</h3>
    </div>
    <div>
        <h5 class="uk-text-secondary uk-text-right uk-hidden@s">問題リスト</h5>
    </div>
    <div class="uk-section uk-section-secondary uk-section-small">
        <div class="uk-child-width-auto@m" uk-grid
            uk-scrollspy="cls:uk-animation-fade; target: .uk-card; delay: 500; repeart: true">
            {% if quiz_count == 0 %}
            <div>
                <div class="uk-card uk-card-secondary uk-card-small uk-card-hover uk-card-body">
                    作成した問題がありません</div>
            </div>
            {% endif %}

            {% for i in range(quiz_count) %}
            {% if quiz_list[i].correct == 1 %}
            {% set correct = "〇" %}
            {% else %}
            {% set correct = "×" %}
            {% endif %}
            <div>
                <div class="uk-card uk-card-secondary uk-card-small uk-card-hover uk-card-body">
                    {{quiz_list[i].problem}}:{{correct}}</div>
            </div>

            {% endfor %}
        </div>
    </div>
</div>
<div class="uk-position-small uk-position-bottom-center">
    <button class=" uk-button uk-button-secondary uk-button-small" onclick=" location.href='./../'">戻る</button>
</div>

<div>
    <button class=" uk-button uk-button-secondary uk-button-small"
        onclick=" location.href='./../auth/delete'">ユーザを削除する</button>
</div>
{% endblock %}