{% extends "layout.html" %}
{% block content %}
<div class="uk-position-relative">
    <img src="../static//img/top.jpg" alt="">
    <div class="uk-position-top">
        <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
            <div class="uk-navbar-left">
                <ul class="uk-navbar-nav">
                    <li class="uk-active"><a href="{{ url_for('/quiz/newquiz'')}}"></a></li>
                </ul>
            </div>
        </nav>
    </div>
</div>
<div>
    {% if login %}
    <h1 class=" uk-heading-divider uk-heading-medium">メニュー</h1>
    <div class="">
        <button class="uk-button uk-button-default">クイズ</button>
        <button class="uk-button uk-button-default" onclick="location.href='./auth/logout'">ログアウト</button>
        <button class="uk-button uk-button-default" onclick="location.href='./quiz/registerquiz'">クイズ登録</button>
        <button class="uk-button uk-button-default" onclick="location.href='./mypage'">マイページ</button>
    </div>
    {% else %}
    <div class="buttons">
        <button class="uk-button uk-button-default" onclick="location.href='./quiz/newquiz'">クイズ</button>
        <button class="uk-button uk-button-default" onclick="location.href='./auth/login'">ログイン</button>
        <button class="uk-button uk-button-default" onclick="location.href='./auth/registeruser'">ユーザ登録</button>
    </div>
</div>
</div>

{% endif %}
{% endblock %}