{% extends "layout.html" %}
{% block content %}
{% if login %}
<div class="buttons">
    <button onclick="location.href='./quiz/newquiz'">クイズ</button>
    <button onclick="location.href='./auth/logout'">ログアウト</button>
    <button onclick="location.href='./quiz/registerquiz'">クイズ登録</button>
    <button onclick="location.href='./mypage'">マイページ</button>
</div>
{% else %}
<div class="buttons">
    <button onclick="location.href='./quiz/newquiz'">クイズ</button>
    <button onclick="location.href='./auth/login'">ログイン</button>
    <button onclick="location.href='./auth/registeruser'">ユーザ登録</button>
</div>
{% endif %}
{% endblock %}